In [52]:
# Import libs
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
from google.cloud import storage

In [53]:
# GCS details
gcs= pa.fs.GcsFileSystem()
bucket_name = 'de-zoomcamp-dominik-1'
project_id = "dtc-de-course-412911"
table_name = "green_trips_data"
root_path = f'{bucket_name}/{table_name}'

In [57]:
years =  [2019]
months = range(1,13)
for year in years:
    for month in months: 
        taxi_dtypes = {
                            'VendorID': pd.Int64Dtype(),
                            'store_and_fwd_flag': str,
                            'RatecodeID': pd.Int64Dtype(),
                            'PULocationID': pd.Int64Dtype(),
                            'DOLocationID': pd.Int64Dtype(),
                            'passenger_count': pd.Int64Dtype(),
                            'trip_distance': float,
                            'fare_amount': float,
                            'extra': float,
                            'mta_tax': float,
                            'tip_amount': float,
                            'tolls_amount': float,
                            'ehail_fee': float,
                            'improvement_surcharge': float,
                            'total_amount': float,
                            'payment_type': pd.Int64Dtype(),
                            'trip_type': pd.Int64Dtype(),
                            'congestion_surcharge': float
                        }    
        parse_dates = ['lpep_pickup_datetime', 'lpep_dropoff_datetime']
        url = f'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_{year}-{month:02}.csv.gz'
        df = pd.read_csv(url, dtype=taxi_dtypes, sep=',', compression='gzip', parse_dates=parse_dates, low_memory=False)
        
        # Column for partitioning by pickup time
        df['lpep_pickup_date'] = df['lpep_pickup_datetime'].dt.strftime("%Y%m%d")
        df['lpep_pickup_datetime'] = df['lpep_pickup_datetime'].dt.strftime("%Y-%m-%d %H:%M:%S")
        df['lpep_dropoff_datetime'] = df['lpep_dropoff_datetime'].dt.strftime("%Y-%m-%d %H:%M:%S")
        
        # Write do GCS Bucket
        table = pa.Table.from_pandas(df)
        pq.write_to_dataset(
                table,
                root_path = root_path,
                partition_cols = ['lpep_pickup_date'],
                filesystem=gcs)
        print(f'{month} - {year} added go GCS!')

1 - 2019 added go GCS!

In [56]:
df.head(10)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,20181221,20181221,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,20190101,20190101,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,20190101,20190101,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,20190101,20190101,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,20190101,20190101,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN
5,2,20190101,20190101,N,1,49,17,1,1.05,6.5,0.5,0.5,0.00,0.0,NaN,0.3,7.80,1,1,NaN
6,2,20190101,20190101,N,1,255,33,1,3.77,13.5,0.5,0.5,0.00,0.0,NaN,0.3,14.80,1,1,NaN
7,1,20190101,20190101,N,1,76,225,1,4.10,16.0,0.5,0.5,0.00,0.0,NaN,0.3,17.30,1,1,NaN
8,2,20190101,20190101,N,1,25,89,1,7.75,25.5,0.5,0.5,0.00,0.0,NaN,0.3,26.80,1,1,NaN
9,2,20190101,20190101,N,1,85,39,1,3.68,15.5,0.5,0.5,0.00,0.0,NaN,0.3,16.80,1,1,NaN

In [ ]:
df